@model DTO.FileUploadDetailDTO

@{
    ViewData["Title"] = "Details";
}

    <h2 class="form-heading">File Upload Details</h2>
<hr />

<form>
    <partial name="/Views/Shared/_ErrorBox.cshtml" />



    <div class="row justify-content-center">


        <div class="form-group col-4">
            <label id="lbl_Id" class="control-label">Id</label>
        </div>
        <div class=" col-4">
            <input id="Id" name="Id" v-model="dataModel.id" class="form-control" type="number" required disabled />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <label for="Filename" id="lbl_Filename" class="control-label">File name</label>
        </div>
        <div class=" col-4">
            <input id="Filename" name="Filename" v-model="dataModel.filename" type="text" required class="form-control" disabled />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <label for="FileDesription" id="lbl_FileDesription" class="control-label">File Desription</label>
        </div>
        <div class=" col-4">
            <input id="FileDesription" name="FileDesription" v-model="dataModel.fileDesription" type="text" class="form-control" required disabled />
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="form-group col-4">
            <label for="FileLocation" id="lbl_FileLocation" class="control-label">File Location </label>
        </div>
        <div class=" col-4">
            <input id="FileLocation" name="FileLocation" v-model="dataModel.fileLocation" type="text" class="form-control" required disabled />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col-4">
            <label for="isPublic" id="lbl_isPublic" class="control-label">isPublic </label>
        </div>
        <div class=" col-4">
            <input id="isPublic" name="isPublic" v-model="dataModel.isPublic" type="text" required class="form-control" disabled />
        </div>
    </div>



    <hr />



    <a v-bind:href="dataModel.fileLocation"> {{dataModel.fileRelativeLocation}}</a>

    
        <partial name="/Views/Shared/_AuditView.cshtml" />
</form>


<div>
    <a asp-action="Index" class="BacktoList"> &laquo; Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">

        var pageMixin = {
            created() {
                this.dataModel = @Json.Serialize(Model);
            },
            mounted() {
                GetUserFullNames();
            },
            data: {
                dataModel: null,
                errors: [],
                function() {
                    return {
                        appMessage: 'FileUpload',
                    };
                }
            },
            methods: {

            }
        };

        mixinArray.push(pageMixin);
    </script>
}
