
@{
    ViewData["Title"] = "Index";
}
    <h2 class="form-heading">File Upload Detail</h2>
<partial name="/Views/Shared/_NotificationBox.cshtml" />
<partial name="/Views/Shared/_ListView.cshtml" />




<div>
    <a href="~/MainPage" class="BacktoList"> &laquo; Back to Mainpage</a>
</div>


@section Scripts {



    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
    var ColumnHeader =  @Json.Serialize((Model.ColumnHeaders));
    var Columns =  @Json.Serialize((Model.Columns));
    var dataModels =  @Json.Serialize((Model.FileUploadDetails));


    var IdColumn ="id";
        var EditAction = "/FileUploadDetail/Edit";
        var ViewAction = "/FileUploadDetail/Details";
        var DeleteAction = "/FileUploadDetail/Delete";
        var AddAction = "/FileUploadDetail/Create";
        $(document).ready(function () {

            LoadData();
            MarkasDatatable("");
        });






    </script>




}






