
@{ ViewData["Title"] = "Downloads"; }
@section Styles{
    <style>
        .user-profile {
            line-height: 3rem;
            border: 1px solid grey;
        }

        .row:nth-of-type(odd) {
            background-color: rgba(0,0,0,.05);
            overflow: hidden;
        }

     

        h1 {
            color: darkblue;
            text-align: center;
            font-size: 17px;
            font-weight: bold;
        }

        .user-form {
            color: darkblue;
            font-weight: bold;
        }
    </style>
}
<partial name="/Views/Shared/_NotificationBox.cshtml" />
<h1>WELCOME RAMAKRISHNAN S </h1>

<div class="container">
    <div class="user-profile">


        <div class="row justify-content-center">
            <div class="col-4 user-form">
                StaffNo
            </div>
            <div class="col-4">
                41914
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                Name
            </div>
            <div class="col-4">
                RAMAKRISHNAN S
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                Gender
            </div>
            <div class="col-4">
                Male
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                Designation
            </div>
            <div class="col-4">
                Clerk
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                Category
            </div>
            <div class="col-4">
                GENERAL
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                Date of Birth
            </div>
            <div class="col-4">
                31 December 1961
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                Date of Join
            </div>
            <div class="col-4">
                26 May 1983
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                DpCode
            </div>
            <div class="col-4">
                811, PALAKKAD BIG BAZAR
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                Date From
            </div>
            <div class="col-4">
                01 May 2003
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                Date To
            </div>
            <div class="col-4">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                Retirement Date
            </div>
            <div class="col-4">
                31 December 2021
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 user-form">
                Status
            </div>
            <div class="col-4">
                Active
            </div>
        </div>



    </div>
</div>






