@model DTO.ReportParameter
@{
    ViewData["Title"] = "ContriReports";

}

<h1>@ViewData["msghead"]</h1>


<div id="showData">

</div>

<div>
    <a asp-action="Index" class="BacktoList"> &laquo; Back to List</a>
</div>
@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/jszip/jszip.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script type="text/javascript">

        var pageMixin = {
            created() {
                this.dataModel = @Json.Serialize(Model);
                console.log(this.dataModel);
                this.ShowData()
            },
            data: {
                dataModel: null,


                errors: [],
                function() {
                    return {
                        appMessage: 'Category',
                    };
                }
            },
            methods: {


                ShowData: function () {
                    $.blockUI();
                    

                    axios.get('/Contribution/ContriReportsData?type=' + this.dataModel.reportType + '&id=' + this.dataModel.ids ).then(response => {
                        if (response.data.items.length > 0) {
                            var k = JSON.parse(response.data.items);
                            fillData(k,this.dataModel.reportType);
                        }
                        $.unblockUI();
                        console.log(this.dataModel);
                    });
                },
            }
        };

        mixinArray.push(pageMixin);

    </script>

    <script>
        $(document).ready(function () {


        });





              
        function fillData(result,type) {
            if ($.fn.DataTable.isDataTable('#dynamictable')) {
                $('#dynamictable').DataTable().destroy();
            }

            $('#dynamictable').empty();
            var myData = result;
            if (myData.length > 0) {
                var col = [];
                col = Object.keys(myData[0]);
                console.log(col);
                let table = '<table id="dynamictable" class="table table-responsive table-condensed"><thead>';
                table = table + '<tr>';
                let Allth = "";
                Allth = Allth + '<th> Actions </th>';
                for (let i = 0; i < col.length; i++) {
                    let str = col[i].toString();
                    str = str.substring(str.indexOf("_") + 1);
                    let th = '<th>' + str + '</th>';
                    Allth = Allth + th;
                }
               
                table = table + Allth + '</tr></thead><tbody>';
                let rowhtml = ""

                for (let i = 0; i < myData.length; i++) {
                    rowhtml = rowhtml + '<tr>';

                    rowhtml = rowhtml + "<td>";
                    if (type.toUpperCase() === "PARKEDITEM") {
                        rowhtml = rowhtml + " <a data-toggle='tooltip' title='UnPark Contribution !' href='/Contribution/UnParkItem?id=" + myData[i]["Id"] + "&amp;type=" + type + "' style='padding: 10px;'><i class='material-icons' style='color: green;'>shop_2</i></a> "

                    }
                    else if (type.toUpperCase() === "ALL") {
                    }
                    else {

                        if (myData[i]["isParked"]) {

                        }
                        else {
                            rowhtml = rowhtml + " <a data-toggle='tooltip' title='Park Contribution !' href='/Contribution/ParkItem?id=" + myData[i]["Id"] + "&amp;type=" + type + "' style='padding: 10px;'><i class='material-icons' style='color: red;'>shop_2</i></a> "

                        }

                    }
                    rowhtml = rowhtml + "</td >";

                    let colCount = col.length;
                    let Alltd = "";
                    for (let j = 0; j < colCount; j++) {
                        let colname = col[j].toString();
                        let colvalue = myData[i][colname];
                        let td = '<td>' + colvalue + '</td>';
                        Alltd = Alltd + td;
                    }
                    rowhtml = rowhtml + Alltd;
                 

                    rowhtml = rowhtml + "</tr > ";
                }

                rowhtml = rowhtml + '</tbody>';

                table = table + rowhtml + '</table>';

                var divContainer = document.getElementById("showData");
                divContainer.innerHTML = table;

                $('#dynamictable').dataTable({

                    dom: 'Bfrtip',
                    buttons: [
                        'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            }
            else {

            }

        }
    </script>

}


















