
<div class="col-md-12 alert-danger">

    <p v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul>
            <li v-for="error in errors">{{ error }}</li>
        </ul>
    </p>
    <div asp-validation-summary="All"></div>

</div>