




<div id="mySidenav" class="sidenav" style="width:0;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="~/MemberArea/Profile">Profile</a>
    <a href="~/MemberArea/MembershipEdit">Update Nominee</a>
    <a href="~/MemberArea/AccountsDirectEntryCreate">Direct Contribution</a>
    <a href="~/MemberArea/ProfileEdit">Account Settings</a>
    <a href="~/home/logout">Logout</a>
</div>

<div id="newmain">

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
</div>


<div id="subnav">
    <ul class="nav justify-content-end nav-pills">

        <li class="nav-item ">


            <a id="Profile" class="nav-link  usernav" href="~/Admin/Home/Profile" style="color:red">Admin Portal</a>
        </li>
        <li class="nav-item ">
            <a id="Profile" class="nav-link  usernav" href="~/MemberArea/Profile">Profile</a>
        </li>

        <li class="nav-item">
            <a id="MembershipEdit" class="nav-link usernav" href="~/MemberArea/MembershipEdit">Update Nominee</a>
        </li>
        <li class="nav-item">
            <a id="AccountsDirectEntryCreate" class="nav-link usernav" href="~/MemberArea/AccountsDirectEntryCreate">Direct Contribution</a>
        </li>
        <li class="nav-item">
            <a id="ProfileEdit" class="nav-link usernav" href="~/MemberArea/ProfileEdit">Account Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  usernav" href="~/home/logout">Logout</a>
        </li>

    
    </ul>

</div>

    <hr />














