@{
    ViewData["Title"] = "RULES & REGULATIONS";
}



@section Styles{
    <style>
        body {
            background-color: #EBF2F4;
        }

        h1 {
            color: darkblue;
            font-size: 17px;
            font-weight: bold;
            padding: 10px;
        }

        h2 {
            color: #990033;
            font-size: 14px;
            font-weight: bold;
        }

        .Rule-text {
            background-color: #f0fbbd;
            font-size: 17px;
            line-height: 2rem;
            border-radius: 5px;
        }

        .margin-ruletext {
            margin: 10px;
            padding: 10px;
        }
    </style>
        <style type="text/css" media="screen and (min-width:959px)" >
            .margin-ruletext {
                margin: 20px;
                padding: 80px;
            }
            .Rule-text {
                background-color: #f0fbbd;
                font-size: 17px;
                line-height: 1.5rem;
                border-radius: 5px;
            }
    </style>
    


    }


@Html.Raw(Model.RulesRegulation)


    @*<div class=" container-fluid">

        <div class=" Rule-text">
            <div class="margin-ruletext">
                <h1><u>@ViewData["Title"]</u></h1>
                <h2>PREAMBLE</h2>

                <p>
                    WHEREAS the General Body Meeting of Canara Bank Employee’s Union (Regd), (hereinafter referred to as the “Union”), at its 21st, Conference held at Chennai from 5th, to 8th, January,
                    2002 had resolved unanimously to constitute a Scheme, to provide financial assistance to the family of deceased members of Fund, and
                </p>

                <p> WHEREAS the said General Body Meeting had approved the salient features of the said Scheme, and</p>

                <p>
                    WHEREAS for the proper administration of the scheme, it is necessary to frame Rules and Regulations, to govern and regulate, the operation of the Scheme and the disbursement of relief to the
                    beneficiaries and matters connected therewith, and
                </p>

                <p>
                    WHEREAS the General Body Meeting of Canara Bank Employee’s Union, at its 22nd, Conference held at Hyderabad from 4th, to 7th, March 2006 had resolved unanimously to improve the existing
                    financial assistance to the family of deceased members of Fund, by increasing the subscription with effect from January 1, 2007 and
                </p>

                <p> WHEREAS the said General Body Meeting had approved the modifications to the salient features of the said Scheme, and </p>

                <p> NOW THEREFORE in pursuance of the aforesaid objectives, the following Rules and Regulations are framed: </p>

                <h2> 1. NAME OF THE FUND</h2>

                <p>
                    Name of the fund shall be
                    <b>“Canara Bank Employees’ Union Golden Jubilee Death Relief & Welfare Fund Scheme - a unit of Canara Bank Employees Union,” </b>

                    which in the following Rules and Regulations, (hereinafter referred to as the “Fund”).
                </p>

                <h2>2. OBJECTS </h2>
                <ul>
                    <li>To provide financial assistance to the Family/Dependents of the deceased member of the Fund in times of distress and need and to work for the social, cultural and moral welfare of the members.</li>
                    <li>To raise and acquire such money or moneys by subscription or donations from members or other persons as may be determined necessary for the furtherance of the objects of the Fund.</li>
                    <li>To give financial aid or loans to members.</li>
                    <li>To adopt any measures or proposals or take steps as may be determined from time to time for the welfare of the members of the Fund.</li>
                </ul>
                <h2>3. MANAGEMENT </h2>

                <p>
                    Fund will be under the direct control of Canara Bank Employees’ Union (Regd.) having its Registered and Central Office at A.K. Nayak Bhavan, 2nd, floor, 14, Second Line Beach,
                    Chennai - 600001 and shall be managed by a Managing Committee nominated by the Central Committee of the Union (hereinafter be referred to as the CC of the Union)
                </p>

                <h2>4. MANAGING COMMITTEE </h2>

                <p> The affairs of the Fund shall be managed by the following members of the Managing Committee.</p>

                <ul>
                    <li> President                         - The General Secretary of the Union shall Ex Officio be the President of the Fund. </li>
                    <li> Secretary                       - To be nominated by the CC of the Union </li>
                    <li> Treasurer                      - To be nominated by the CC of the Union </li>
                    <li> 4 Other Members  - To be nominated by the CC of the Union </li>

                </ul>

                <p>
                    The Managing Committee shall meet at least once in every 6 (six) months, or often if necessary. The Managing Committee shall take decisions in relations to all matters
                    connected to administration of the Fund, disbursement of money to the beneficiaries, the admission of or expulsion of members etc. by majority decisions arrived at,
                    at the meetings of the Managing Committee.
                </p>

                <h2> 5. QUORUM </h2>

                <p>The quorum for a meeting of the Managing Committee shall be four. </p>

                <h2> 6. PRESIDENT </h2>

                <p> The President of the Fund will preside over the Meetings of the Managing Committee. In case of emergency, he may adopt such measures as may be necessary and report his action to the CC of the Union.</p>

                <h2> 7. SECRETARY </h2>

                <p>
                    The Secretary shall perform all such duties as are necessary for achieving the objects of the Fund. He shall conduct all correspondence, arrange for meetings, record and maintain minutes of the
                    proceedings of all meetings and generally exercise control and supervision over the affairs of the Fund, as per the direction of the Managing Committee.
                </p>

                <h2> 8. TREASURER </h2>

                <p>
                    The Treasurer will keep regular books of accounts, supported by vouchers and receipts. He shall get prepared the Annual Balance Sheet, showing the assets and liabilities of the Fund and other
                    relevant matters and information. The said accounts shall be placed before the Managing Committee of the Fund and the CC of the Union every year for approval.
                </p>

                <h2> 9. ADMINISTRATIVE OFFICE </h2>

                <p>The Administrative Office of the Fund shall at present be located at the “Balakrishna Menon Smarakam”, T.C. 27/220, Ambujavilasam Road, Thiruvananthapuram - 695 001.</p>

                <h2> 10. FUNDS </h2>

                <p>The Administrative Office will administer the Fund subject to the control of the Managing Committee, on behalf of the CC of the Union.</p>

                <h2> 11. ACCOUNTS </h2>

                <p>The fund shall have its own Bank account, to be opened in Branch/Branches of Canara Bank at Thiruvananthapuram.</p>

                <h2> 12. MEMBERSHIP </h2>

                <p>
                    Membership of the Fund shall be open to all the employees of Canara Bank (including Part Time Employees– hereinafter be referred to as PTEs) who are the members of the Union
                    whose age is below 58 years. Members may apply in the prescribed form and pay sum of Rs. 25/=(Rupees Twenty Five only) as Admission Fee. They should agree to be bound by these Rules & Regulations.
                </p>

                <p>
                    <u><b>Note:</b></u>
                    On Promotion of Clerks/Special Assistants to Officer cadre, they may continue as members of the Fund.
                </p>

                <h2> 13. SUBSCRIPTION </h2>
                <ul>
                    <li>Every member shall pay a sum of Rs.50/= (Rupees Fifty Only) per month, as subscription to the Fund, from the date of his/her enrolment to the Fund, for a maximum period of 15 (fifteen) years.</li>

                    <li>
                        Effective from January 1, 2007 member (other than those who are PTEs) shall pay a sum of Rs. 100/= (Rupees One Hundred only) as subscription to the Fund from the date of his/her
                        enrollment to the Fund for a maximum period of 15 (fifteen) years. PTEs shall continue to subscribe at the rate specified in (a) above.
                    </li>

                    <li>
                        Existing members of the Fund as on January 1, 2007 paying the monthly subscription of Rs.50/= (Rupees fifty only) per month, may pay their subscription at the revised
                        rate of Rs.100/= (Rupees one hundred only) per month and avail consequent increase in benefits as per clause 16 (c) and (d) below. However he/she shall have the option to continue
                        to pay their subscription at the rate of Rs.50/= (Rupees fifty only) per month in which case they will be eligible only for the existing benefits as on 31-12-2006 as detailed
                        in clause 16 (a) and (b) below.
                    </li>

                    <li>New members who join the Fund after January 1, 2007 shall become eligible for the benefits as specified under clause 16 (f) below.</li>
                </ul>
                <h2> 14. CESSATION OF MEMBERSHIP </h2>

                <p> A member shall cease to be a member of the Fund in the following cases: </p>
                <ul>
                    <li> For non-payment of the monthly subscription for three consecutive months and with effect from January 1, 2007, for non-payment of the monthly subscription for six consecutive months.</li>

                    <li> When the member is expelled from the membership of the Union as per its Rules and Bye-laws.</li>

                    <li>In the event of resignation from the membership of the Union, while working as a workman in the Bank.</li>

                    <li>In the event of cessation of the member for whatsoever reason from the service of the Canara Bank.</li>

                    <li> On completion of 15 years of membership of the Fund.</li>
                </ul>

                <p>
                    In all the above cases, members of the Fund shall be refunded full contribution made by him/her to the Fund, on completion of 15 years from the date of enrolment of the membership or
                    at the time of leaving the service of Canara Bank for whatsoever reason as stated above, whichever is earlier.
                </p>

                <h2> 15. READMISSION </h2>

                <p>
                    Any member of the Fund who ceases to be a member of the Fund, for any reason, may be readmitted, upon his making full payment of arrears with up-to-date interest  Rs.10/= (Rupees Ten only)
                    for each month of default and Rs. 25/= (Rupees Twenty Five only) readmission fee, subject to compliance of other provisions and as per the discretion of the Managing Committee of the Fund.
                </p>

                <h2> 16. ENTITLEMENT OF BENEFITS </h2>

                <ul>
                    <li>
                        The nominee of a member of the Fund who pays Rs.50/= (Rupees Fifty only), shall be entitled to receive a lump sum relief of Rs.30, 000/= (Rupees Thirty Thousand only) in the event of the death
                        of that member of the Fund, for any reason whatsoever.
                    </li>

                    <li>
                        In case a member of the Fund has paid monthly subscription for 12 (Twelve) consecutive months, apart from the above lump sum relief of Rs.30, 000/= the nominee of the member shall also be
                        entitled to receive a sum of Rs.500/= per month, for a maximum period of 15 years or till the superannuation date of the deceased member of the Fund, whichever is earlier.
                    </li>

                    <li>
                        The nominee of a member who pays Rs.100/= (Rupees One Hundred only) per month as subscription to the Fund as per clause 13 (b) above shall be entitled to receive a lump sum relief
                        of Rs.40,000/= (Rupees Forty Thousand only). In case such member has paid the subscription at the rate of Rs.100/= per month for a period of twelve consecutive months, his/her nominee shall be
                        entitled for a lump sum relief of Rs.50,000/= (Rupees Fifty Thousand only).
                    </li>

                    <li>
                        In case a member of the Fund has paid Rs.100/= (Rupees One Hundred only) per month as monthly subscription as per clause 13 (b) above to the Fund for 12 (twelve) consecutive months,
                        then in the case of death of such member, the nominee of such member shall, apart from the lump sum relief as per clause 16 (c), be entitled to receive a
                        sum of Rs.750/=( Rupees Seven Hundred and Fifty only) per month for a maximum period of 15 (Fifteen) years or till the date of superannuation of the member, whichever is earlier.
                    </li>

                    <u><b> Note:</b></u>

                    <p>
                        In case an existing member of the Fund as on 01 January 2007 switches over to the revised subscription of Rs 100/= per month but dies before paying monthly subscription for 12 consecutive
                        months at the enhanced rate but has paid 12 monthly subscriptions in all i.e., old rate and new rate put together, then the nominee of such member shall be eligible for a lump sum relief
                        of Rs.40,000/= (Rupees Forty Thousand only) and a monthly payment of Rs.500/= for fifteen years or till the date of superannuation of the deceased member, whichever is earlier
                    </p>

                    <li>
                        The nominee of a PTE who is a member of the Fund and pays Rs.50/= (Rupees Fifty only) as on 01 January 2007 shall be entitled for a lumpsum relief of Rs.40,000/= in case of death of such
                        member on or before 31-12-2007 and Rs.50,000/= in case of death thereafter. Such nominee shall also be eligible for a monthly payment of Rs. 500/= in case such member has paid 12 monthly subscriptions
                        in all and dies on or before 31-12-2007. In case of death of such member after 31-12-2007 the nominee of such member shall also be entitled to receive apart from the lump sum as specified above
                        a sum of Rs.750/= per month for a maximum period of 15 (Fifteen) years or till the date of superannuation of the member, whichever is earlier, provided the member had paid monthly subscription
                        for 12 consecutive months.
                    </li>

                    <li>
                        The nominee of a new member who joins the Fund on any date after January 1, 2007 and pays Rs.100/- (Rupees One Hundred only) per month as subscription to the Fund shall be entitled to receive
                        a lump sum of Rs.40,000/- (Rupees Forty Thousand only) up to the end of twelve months from the date of the said member joining the Fund. With effect from the thirteenth month the nominee of the said
                        member who has paid R.100/- (Rupees One hundred only) per month as subscription to the Fund for more than 12 (twelve) shall be entitled to receive a lump sum of Rs.50,000/- (Rupees Fifty Thousand only)
                        and also be entitled to receive a sum of Rs. 750/- (Rupees Seven Hundred Fifty only) per month for a maximum period of 15 years or till the date of superannuation of the deceased member of the Fund,
                        whichever is earlier.
                    </li>
                </ul>
                <h2>17. NOMINATION </h2>
                <ul>
                    <li>
                        Every member of the Fund shall nominate 3 (three) members of his/her family, in order of precedence, who shall be entitled to receive benefits which become payable, in the event of the death of
                        such member of the Fund.
                    </li>

                    <li>
                        A member may, at his/her option, change/alter/modify the nomination so made, by deleting or adding the name of a nominee or nominees. However, such modification/alteration/change shall be
                        given effect to, only when the same is registered by the Administrative Office. The date of receipt of the application, for such amendment/modification/ alteration etc. in the Administrative Office
                        shall be deemed to be the date of such registration, irrespective of the date of the actual registration.
                    </li>
                </ul>
                <h2> 18. DISTRIBUTION OF BENEFITS</h2>
                <ul>
                    <li>
                        Applications for distribution of benefits, payable from the Fund, shall be made to the concerned State Committees of the Union, which shall be forward to the administrative Office.
                    </li>

                    <li>
                        The claims for payment of benefits will be processed by the Administrative Office, which may, if necessary, require completion of any legal formalities by the claimant, before making the payment,
                        after approval by the Managing Committee.
                    </li>

                    <li> In case of disputes, relating to disbursement of the benefits, among rival claimants, payments would be made only as per the nomination made by the member, subject to orders of a competent Court.</li>

                    <li> In case of the Fund finds it difficult to pay the amounts payable in lumpsum, the amounts will be paid in installments, if so resolved by the Managing Committee.</li>
                </ul>
                <h2> 19. REPRESENTATION OF FUND IN LEGAL PROCEEDINGS </h2>

                <p>
                    The Secretary of the Fund shall be the person competent to sue and be sued on behalf of the Fund. No suit or legal proceedings shall be instituted or commenced by the Secretary, without the approval
                    and sanction of the Managing Committee.
                </p>

                <h2> 20. PLACE OF SUING </h2>

                <p>All legal proceedings against the Fund shall be commenced only within the jurisdiction of the Courts in Thiruvananthapuram.</p>

                <h2> 21. ASSETS </h2>

                <p>
                    All properties of the Fund will vest with the Fund, managed by the Managing Committee of the Fund, and the Managing Committee shall be empowered and authorised to deal with the same,
                    for the benefit of the members of the Fund.
                </p>

                <h2> 22. ACCOUNTS </h2>
                <ul>
                    <li>The accounts of the Fund shall be maintained separately and the Financial Year for the accounts shall be 1st January to 31st December of each year.</li>

                    <li>The Bank account/accounts of the Fund shall be operated by the Treasurer jointly with Secretary/President.</li>
                    <li>
                        The accounts of the Fund shall be caused to be audited each year by Chartered Accountants, who shall be appointed by the Managing Committee. The report of such audit shall be
                        submitted by the Managing Committee along with the accounts
                    </li>
                </ul>
                <h2> 23. AMENDMENTS </h2>

                <p> The aforementioned rules and regulations may be amended from time to time only by the CC of the Union.</p>

                <h2> 24. DISSOLUTION AND ADJUSTMENT OF AFFAIRS </h2>

                <p>
                    The CC of the Union shall be empowered to dissolve and adjust the Fund. On such dissolution, all monies to the credit of the Fund shall be distributed amongst the members in proportion to their
                    contribution to the Fund.
                </p>





            </div>
        </div>
    </div>*@
